 /* Inicio */
 .carousel, .carousel-inner > .item > img {
    
    width: 60%;
    text-align: center;
    position: relative;
    left: 19%;
  }


.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;   
}
 /* fin Inicio */

 /* Menu */
.menu{
    width: 80%;
    padding: 5%;
    height: 80%;   
}

.hamburguer{
    text-align: center;
    padding-bottom: 2%;
    
}

.submenu{
    text-align: center;
    background-color: #E59C26;
    border-bottom:  2px solid black; 
    border-bottom-left-radius: 50%; 
    border-bottom-right-radius: 50% ;
}


.details-hamburguer{
    position: absolute;
    right: 90%;
    bottom: -30px;
    z-index: -10;
}

.details-nuggets{
    position: absolute;
    left: 87%;
    bottom: -10px;
    z-index: -10;
    clip-path: inset(0 40% 0 0);

}

.Nmenu{
    text-align: center;
    position: relative;
    color: #000000;
   font-size: 40px;
    text-decoration: none;

}

.Nmenu::before{
    content: "";
    background: orangered;
    width: 0%;
    height: 5px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s all;
}

.Nmenu::after{
    content: "";
    background: orangered;
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s all;
}
 /* fin menu */

 /* hamburguesas */

.comidaha
{
    width: 85%;
    padding: 5%;
    height: 100%;   
    margin-top: 10%;
}

 /* fin hamburguesas */

 /* Helados */

.comidahe
{
    width: 85%;
    padding: 5%;
    height: 90%;   
    margin-top: 54px;
}

 /* fin Helados */
  /* Nuggets */
.comidanu
{
    width: 85%;
    padding: 5%;
    height: 100%;   
    
}
 /* fin nuggets */

  /* papas fritas */
.comidapa
{
    margin-top: 10px;
    width: 85%;
    padding: 5%;
    height: 100%;   
    margin-top: 54px;
}

 /* fin papas fritas */

 /* categorias */

h2{
    font-family: 'BlockBeCnPro', Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: 1; 
    text-align: center;
}




.textoP
{
    margin-top: 2%;
    font-size: 60px;
    width: 100%;
    padding: 5%;
    height: 1050%; 
    border: 17px solid #f6ad04;
    background-color: #f5cf0e;
}

.textoha
{
    margin-top: 11%;
    font-size: 60px;
    width: 100%;
    padding: 5%;
    height: 1050%; 
    border: 17px solid #f6ad04;
    background-color: #f5cf0e;
}
.textopa
{
    margin-top: 10%;
    font-size: 60px;
    width: 100%;
    padding: 5%;
    height: 1050%; 
    border: 17px solid #f6ad04;
    background-color: #f5cf0e;
}
.textohe
{
    margin-top: 10%;
    font-size: 60px;
    width: 100%;
    padding: 5%;
    height: 1050%; 
    border: 17px solid #f6ad04;
    background-color: #f5cf0e;
}

 /* fin categorias */


.comida
{
    width: 85%;
    padding: 5%;
    height: 100%;   
    margin-top: 54px;
}


 /* Navegador */
.link-nav{
    font-size: larger;
    color: white;
}

.menuI{
    background-color: #E59C26;
    width: 100%;
    color: white;
}

 /* fin navegador */


 /* Hovers */

.link-nav:hover{
    background-color: brown;
    color: aliceblue;
}

.logos-end:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);

}

.Nmenu:hover{
    text-decoration: none;
    color: #000;
}

.Nmenu:hover::before{
    width: 100%;
}

.Nmenu:hover::after{
    width: 100%;
}
 /* fin de hovers */

 /* media queries */ 
@media screen and (max-width: 1100px) {
    .details-hamburguer{
        display: none;
    }

    .details-nuggets{
        display: none;
    }

}